BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Linux
AlwaysBreakTemplateDeclarations: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
